etrack/etrack-asms-service/src/main/resources/asms-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.dec.ny.gov/asms/" xmlns="http://www.dec.ny.gov/asms/">
    <xs:element name="objects">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="guid" type="xs:string" />
                <xs:element name="application" type="xs:string" />
                <xs:element name="groups">
                    <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="group">
                                <xs:complexType>
                                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                        <xs:element name="object">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="name" type="xs:string" />
                                                    <xs:element name="type">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:enumeration
                                                                    value="APP" />
                                                                <xs:enumeration
                                                                    value="DATA" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="value" type="xs:string"
                                                        minOccurs="0" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="user">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" />
                <xs:element name="guid" type="xs:string" />
                <xs:element name="loginId" type="xs:string" />
                <xs:element name="emailAddress" type="xs:string" />
                <xs:element name="name">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="first" type="xs:string" />
                            <xs:element name="middle" minOccurs="0" type="xs:string" />
                            <xs:element name="last" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="userType" type="xs:string" />
                <xs:element name="userSubType" type="xs:string" minOccurs="0" />
                <xs:element name="loginStatus" type="xs:string" />
                <xs:element name="division" type="xs:string" minOccurs="0" />
                <xs:element name="workLocation" type="xs:string" minOccurs="0" />
                <xs:element name="phoneNumber" type="xs:string" minOccurs="0" />
                <xs:element name="trustLevel" type="xs:string" />
                <xs:element name="company" type="xs:string" minOccurs="0" />
                <xs:element name="businessAddress" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="street1" minOccurs="0" type="xs:string" />
                            <xs:element name="street2" minOccurs="0" type="xs:string" />
                            <xs:element name="city" minOccurs="0" type="xs:string" />
                            <xs:element name="state" minOccurs="0" type="xs:string" />
                            <xs:element name="zip" minOccurs="0" type="xs:string" />
                            <xs:element name="country" minOccurs="0" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="groups">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="guid" type="xs:string" />
                <xs:element name="application" type="xs:string" />
                <xs:element name="groups">
                    <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="group" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
